@model Turboaz.Core.Models.Vehicle;

@{
    ViewData["Title"] = "Create new vehicle advertisement";

    var brandName = string.Empty;
    var modelName = string.Empty;
    var price = 0;
    var engineVolume = 0;
    var imageUrl = string.Empty;
    var horsePowers = 0;
    var seatsCount = 0;
    var color = string.Empty;
    var transmissionType = TransmissionType.Automatic;
    var drivetrain = Drivetrain.RWD;
}

<h1 class="text-center">@ViewData["Title"]</h1>

<form enctype="multipart/form-data" method="post" asp-controller="Vehicle" asp-action="Create">
    <div class="mb-3">
        <label asp-for="@brandName" class="form-label">Brand: </label>
        <input required type="text" asp-for="@brandName" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="@modelName" class="form-label">Model: </label>
        <input required type="text" asp-for="@modelName" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="@price" class="form-label">Price($): </label>
        <input required type="number" asp-for="@price" class="form-control" min="0">
    </div>

    <div class="mb-3">
        <label asp-for="@engineVolume" class="form-label">Engine Volume(sm<sup>3</sup>): </label>
        <input required type="number" asp-for="@engineVolume" class="form-control" min="0">
    </div>

    <div class="mb-3">
        <label asp-for="@imageUrl" class="form-label">Image Url</label>
        <br>
        <input required id="files" type="file" asp-for="@imageUrl" name="files" accept="image/*" multiple="multiple"/>
    </div>

    <div class="mb-3">
        <label asp-for="@horsePowers" class="form-label">Horse Powers: </label>
        <input required type="nuber" asp-for="@horsePowers" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="@seatsCount" class="form-label">Seats Count: </label>
        <input required type="number" asp-for="@seatsCount" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="@color" class="form-label">Color: </label>
        <input required type="text" asp-for="@color" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="@transmissionType" class="form-label">Transmission Type: </label>

        <label asp-for="@drivetrain" class="form-label select-label">Drivetrain: </label>
        <br>
        <select asp-for="@transmissionType">
            <option value=1>Automatic</option>
            <option value=2>Manual</option>
            <option value=3>Single Speed</option>
            <option value=4>Continuously Variable</option>
        </select>

        <select asp-for="@drivetrain">
            <option value=1>RWD</option>
            <option value=2>FWD</option>
            <option value=3>AWD</option>
        </select>
    </div>

    <button type="submit" class="btn submit-button">Create new vehicle</button>
</form>

<script src="~/js/file-operations.js"></script>