@model Turboaz.Core.Models.Vehicle;

@{
    ViewData["Title"] = "Update Vehicle";
}

<h1>@ViewData["Title"]</h1>

<form id="update-form">
    <div class="mb-3">
        <label asp-for="@Model.BrandName" class="form-label">Brand</label>
        <input required type="text" asp-for="@Model.BrandName" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="@Model.ModelName" class="form-label">Model</label>
        <input required type="text" asp-for="@Model.ModelName" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="@Model.Price" class="form-label">Price</label>
        <input required type="number" asp-for="@Model.Price" class="form-control" min="0">
    </div>

    <div class="mb-3">
        <label asp-for="@Model.EngineVolume" class="form-label">Engine Volume</label>
        <input required type="number" asp-for="@Model.EngineVolume" class="form-control" min="0">
    </div>

    <div class="mb-3">
        <label asp-for="@Model.HorsePowers" class="form-label">Horse Powers</label>
        <input required type="text" asp-for="@Model.HorsePowers" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="@Model.SeatsCount" class="form-label">Seats Count</label>
        <input required type="text" asp-for="@Model.SeatsCount" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="@Model.Color" class="form-label">Color</label>
        <input required type="text" asp-for="@Model.Color" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="@Model.TransmissionType" class="form-label">Transmission Type</label>

        <label asp-for="@Model.Drivetrain" class="form-label select-label">Drivetrain</label>
        <br>
        <select asp-for="@Model.TransmissionType">
            <option value=1>Automatic</option>
            <option value=2>Manual</option>
            <option value=3>Single Speed</option>
            <option value=4>Continuously Variable</option>
        </select>

        <select asp-for="@Model.Drivetrain">
            <option value=1>RWD</option>
            <option value=2>FWD</option>
            <option value=3>AWD</option>
        </select>
    </div>

    <button type="submit" class="btn submit-button" onclick="updateVehicle(@Model.Id)">Update</button>
</form>

<script src="~/js/vehicle-operations.js"></script>