@{
    ViewData["Title"] = "Change password";

    string oldPassword = string.Empty;
    string newPassword = string.Empty;
}

<link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Poppins&amp;display=swap'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="wrapper">
    <div class="login-box">
        <div class="login-header">
            <span style="margin-left: 15px;">@ViewData["Title"]</span>
        </div>
        
        <form asp-action="ChangePassword" method="post">
            <div class="input-box">
                <input asp-for="@oldPassword" type="text" class="input-field" required>
                <label asp-for="@oldPassword" class="label">Old password</label>
                <i class="bx bx-lock-alt icon" id="show-password"></i>
            </div>

            <div class="input-box">
                <input asp-for="@newPassword" type="text" class="input-field" autocomplete="off" required>
                <label asp-for="@newPassword" class="label">New password</label>
                <i class="bx bx-lock-alt icon" id="show-password"></i>
            </div>

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="input-box">
                <button type="submit" class="input-submit">Change password</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}