@model IEnumerable<Vehicle>

@{
    var userLogin = base.Context.User.Identity!.Name;

    var title = userLogin + "'s " + "Vehicles";

    ViewData["Title"] = title;
}

<h1>@ViewData["Title"]</h1>

<div class="vehicles-container">
    @foreach (var vehicle in Model)
    {
        <div class="vehicle-info" id="@vehicle.Id">
            <div>
                <a asp-controller="Vehicle" asp-action="Details" asp-route-id="@vehicle.Id">
                    <div>
                        @if (@vehicle.FirstImageUrl is not null)
                        {
                            <img src="~/@vehicle.FirstImageUrl" alt="image of car" />
                        }
                        <p><b><i>@vehicle.BrandName @vehicle.ModelName</i></b></p>
                        <p><i>@vehicle.Price$, @vehicle.EngineVolume sm<sup>3</sup></i></p>
                    </div>
                </a>
            </div>
            <br>
            <div>
                <a class="link" asp-controller="Vehicle" asp-action="Update" asp-route-id="@vehicle.Id">
                    <i class="fa fa-edit" style="font-size:24px"></i>
                </a>
                <a class="link" onclick="deleteVehicle(@vehicle.Id)" id="delete-vehicle-link">
                    <i class="fa fa-trash" style="font-size:24px"></i>
                </a>
            </div>
        </div>
    }
</div>

<script src="~/js/vehicle-operations.js"></script>