@model User

@{
    ViewData["Title"] = "Profile";

    var email = Model.Email;
    var surname = Model.Surname;
    var photo = Model.ProfilePhotoUrl;
    var login = Model.UserName;
    var phoneNumber = Model.PhoneNumber;
    
    var isAdmin = base.User.IsInRole("Admin");
}

<link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Poppins&amp;display=swap'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="wrapper">
    <div class="login-box profile-box">
        <div class="login-header">
            <span>@ViewData["Title"]</span>
        </div>

        <form id="update-profile">
            <div class="register">
                <img src="~/@photo" class="profile" />
                <div>
                    <div class="input-box">
                        <input asp-for="@email" type="email" class="input-field" required>
                        <label asp-for="@email" class="label">Email</label>
                    </div>

                    <div class="input-box">
                        <input asp-for="@login" type="text" class="input-field" required>
                        <label asp-for="@login" class="label">Username</label>
                        <i class="bx bx-user icon"></i>
                    </div>

                    <div class="input-box">
                        <input asp-for="@surname" type="text" class="input-field" autocomplete="off" required>
                        <label asp-for="@surname" class="label">Surname</label>
                    </div>
                    
                    <div class="input-box">
                        <input asp-for="@phoneNumber" id="phone" type="tel" class="input-field" pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" placeHolder="099-999-99-99" required>
                        <label asp-for="@phoneNumber" class="label">Phone number</label>
                    </div>
                </div>
            </div>

            <div asp-validation-summary="All" class="text-danger"></div>

            @if(!isAdmin)
            {
                <div class="change-operations">
                    <a asp-controller="User" asp-action="ChangeProfilePhoto">Change profile image</a>
                    <a asp-controller="Identity" asp-action="ChangePassword">Change password</a>
                </div>

                <div class="input-box">
                    <button type="submit" class="input-submit" onclick="updateProfile('@Model.Id')">Update profile</button>
                </div>
            }
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/phone-number-validation.js"></script>
    <script src="~/js/user-operations.js"></script>
}